content_version=1
user_uuid="9aa5ce1e-b551-4b62-aa89-70294efa85ca"
teacherseat_user_uuid="9aa5ce1e-b551-4b62-aa89-70294efa85ca"
bucket_name="zxdsstpbibd86fj1p5fpvlha9k7p8zrr"
index_html_filepath="/workspace/terraform-beginner-bootcamp-2023/public/index.html"
error_html_filepath="/workspace/terraform-beginner-bootcamp-2023/public/error.html"
assets_path="/workspace/terraform-beginner-bootcamp-2023/public/assets"
terratowns_access_token="add_your_token_here"
terratowns_endpoint="https://terratowns.cloud/api"